<!DOCTYPE html>
<html>
<head>
  <title>SSSCTRoomBooking</title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
  </head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= render 'layouts/user_widget' %>

<%= yield %>

</body>
</html>
