<!DOCTYPE html>
<html>
<head>
  <title>SSSCTRoomBooking</title>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application' %>

  <script type="text/javascript">
      function location_link(location){
          window.location.href = location;
      }
  </script>

  <style>
    .delete_cls{
        width:20px!important; height:20px!important;
        background-image: url(<%=image_url("delete-property-16.jpg")%>)!important;
    }
    .add_cls{
        width:20px!important; height:20px!important;
        background-image: url(<%=image_url("add-list-16.jpg")%>)!important;
    }
  </style>

</head>
<body>

<div class="main_div">
  <div>
    <div class="div_1">
      <div id="content_div" style="margin: 0;padding-top: 30px;">
        <%= yield %>
      </div>

    </div>

  </div>
</div>



<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


</body>
</html>
